<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IjobProcessorService" maxBufferSize="11165536"
                    maxReceivedMessageSize="4294967296" transferMode="Streamed" />
                <binding name="BasicHttpBinding_IjobProcessorService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/JobProcessorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IjobProcessorService"
                contract="ProcessorService.IjobProcessorService" name="BasicHttpBinding_IjobProcessorService" />
            <endpoint address="http://localhost:4321/JobProcessorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IjobProcessorService1"
                contract="JobProcessorServiceReference.IjobProcessorService"
                name="BasicHttpBinding_IjobProcessorService1" />
        </client>
    </system.serviceModel>
</configuration>